$navbar-default-bg: #25c409;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
    float: left;
    font-size: 1.7em;
    color: #fff;
    letter-spacing: -1px;
    font-weight: bold;
}

#logo:hover {
    color: #fff;
    text-decoration: none;
}

.center {
    text-align: center;
}

.jumbotron {
    background-color: #25c409;
    color: #fff;
    font-weight: bold;
    letter-spacing: -1px;
    text-align: center;
}

footer {
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
}
footer small{
    float: left;
}

footer ul{
    float: right;
    list-style: none;
}

footer ul li{
    float: left;
    margin-left: 15px;
}